<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand brand-custom" routerLink="/">Sherpa App</a>
  <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link register-custom" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link register-custom" routerLink="/about">About</a>
        </li>
      </ul>
  </div>
</nav>
